.DS_Store
.idea/
__pycache__/
env/
*.pyc

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\_PROJECTS\epilepsy-extension\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
